'.source.js':
  'import React':
    'prefix': 'ir'
    'body': "import React from 'react';"

  'simple stateless component':
    'prefix': 'simpstateless'
    'body': '''
      const $1 = ($2) => (
        $3
      );

      export default $1;

    '''

  'stateless component':
    'prefix': 'stateless'
    'body': '''
      const $1 = ($2) => {
        return (
          $3
        );
      };

      export default $1;

    '''

  'import component':
    'prefix': 'icomp'
    'body': "import $1 from '$2/$1';"

  'import and export component':
    'prefix': 'iecomp'
    'body': '''
      import $1 from './$1';

      export default $1;

    '''

  'create saga and saga watcher':
    'prefix': 'csaga'
    'body': '''
      function *$1(action) {
        $4
      }

      function *$1Watcher() {
        yield $2($3, $1);
      }
    '''
